# Ignore data directories
data/
data_results_paper/

# VS Code project files
.vscode/

# Python bytecode cache
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Compiled Python files
*.pyc
*.pyo
*.pyd

venv/
.python-version
output.txt